/* Global Styles */
html, body {
    background-color: var(--primary-bg);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}
